@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: HeliosBlackC;
  font-display: swap;
  src: url("../fonts/HeliosBlackC.woff2") format("woff2"), url("../fonts/HeliosBlackC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosC;
  font-display: swap;
  src: url("../fonts/HeliosC-Bold.woff2") format("woff2"), url("../fonts/HeliosC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: HeliosBlackC;
  font-display: swap;
  src: url("../fonts/HeliosBlackC-Italic.woff2") format("woff2"), url("../fonts/HeliosBlackC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosC;
  font-display: swap;
  src: url("../fonts/HeliosC-BoldItalic.woff2") format("woff2"), url("../fonts/HeliosC-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondBlackC;
  font-display: swap;
  src: url("../fonts/HeliosCondBlackC-Italic.woff2") format("woff2"), url("../fonts/HeliosCondBlackC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCompressedC;
  font-display: swap;
  src: url("../fonts/HeliosCompressedC.woff2") format("woff2"), url("../fonts/HeliosCompressedC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosC;
  font-display: swap;
  src: url("../fonts/HeliosC.woff2") format("woff2"), url("../fonts/HeliosC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondBlackC;
  font-display: swap;
  src: url("../fonts/HeliosCondBlackC.woff2") format("woff2"), url("../fonts/HeliosCondBlackC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosC;
  font-display: swap;
  src: url("../fonts/HeliosC-Italic.woff2") format("woff2"), url("../fonts/HeliosC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondC;
  font-display: swap;
  src: url("../fonts/HeliosCondC-Bold.woff2") format("woff2"), url("../fonts/HeliosCondC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondC;
  font-display: swap;
  src: url("../fonts/HeliosCondC-BoldItalic.woff2") format("woff2"), url("../fonts/HeliosCondC-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondC;
  font-display: swap;
  src: url("../fonts/HeliosCondC-Italic.woff2") format("woff2"), url("../fonts/HeliosCondC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondC;
  font-display: swap;
  src: url("../fonts/HeliosCondC.woff2") format("woff2"), url("../fonts/HeliosCondC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondLightC;
  font-display: swap;
  src: url("../fonts/HeliosCondLightC-Italic.woff2") format("woff2"), url("../fonts/HeliosCondLightC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondLightC;
  font-display: swap;
  src: url("../fonts/HeliosCondLightC.woff2") format("woff2"), url("../fonts/HeliosCondLightC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondThinC;
  font-display: swap;
  src: url("../fonts/HeliosCondThinC-Italic.woff2") format("woff2"), url("../fonts/HeliosCondThinC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosCondThinC;
  font-display: swap;
  src: url("../fonts/HeliosCondThinC.woff2") format("woff2"), url("../fonts/HeliosCondThinC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtBlackC;
  font-display: swap;
  src: url("../fonts/HeliosExtBlackC-Italic.woff2") format("woff2"), url("../fonts/HeliosExtBlackC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtBlackC;
  font-display: swap;
  src: url("../fonts/HeliosExtBlackC.woff2") format("woff2"), url("../fonts/HeliosExtBlackC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtC;
  font-display: swap;
  src: url("../fonts/HeliosExtC-BoldItalic.woff2") format("woff2"), url("../fonts/HeliosExtC-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtC;
  font-display: swap;
  src: url("../fonts/HeliosExtC-Bold.woff2") format("woff2"), url("../fonts/HeliosExtC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtC;
  font-display: swap;
  src: url("../fonts/HeliosExtC-Italic.woff2") format("woff2"), url("../fonts/HeliosExtC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtC;
  font-display: swap;
  src: url("../fonts/HeliosExtC.woff2") format("woff2"), url("../fonts/HeliosExtC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtLightC;
  font-display: swap;
  src: url("../fonts/HeliosExtLightC-Italic.woff2") format("woff2"), url("../fonts/HeliosExtLightC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtLightC;
  font-display: swap;
  src: url("../fonts/HeliosExtLightC.woff2") format("woff2"), url("../fonts/HeliosExtLightC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtraCompressedC;
  font-display: swap;
  src: url("../fonts/HeliosExtraCompressedC.woff2") format("woff2"), url("../fonts/HeliosExtraCompressedC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtThinC;
  font-display: swap;
  src: url("../fonts/HeliosExtThinC-Italic.woff2") format("woff2"), url("../fonts/HeliosExtThinC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosExtThinC;
  font-display: swap;
  src: url("../fonts/HeliosExtThinC.woff2") format("woff2"), url("../fonts/HeliosExtThinC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosLightC;
  font-display: swap;
  src: url("../fonts/HeliosLightC-Italic.woff2") format("woff2"), url("../fonts/HeliosLightC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosLightC;
  font-display: swap;
  src: url("../fonts/HeliosLightC.woff2") format("woff2"), url("../fonts/HeliosLightC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosThinC;
  font-display: swap;
  src: url("../fonts/HeliosThinC-Italic.woff2") format("woff2"), url("../fonts/HeliosThinC-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosThinC;
  font-display: swap;
  src: url("../fonts/HeliosThinC.woff2") format("woff2"), url("../fonts/HeliosThinC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: HeliosUltraCompressedC;
  font-display: swap;
  src: url("../fonts/HeliosUltraCompressedC.woff2") format("woff2"), url("../fonts/HeliosUltraCompressedC.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #10091B;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 105rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  padding: 46px 0;
  position: relative;
  z-index: 20;
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 45px;
}
.menu__item {
  margin: 0px auto;
}
.menu__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.7s;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
.menu__link:hover {
  color: #fff;
  text-shadow: 0 0 5px rgb(123, 3, 107);
}

.activation-link {
  padding-bottom: 5px;
  position: relative;
  color: #fff;
}
.activation-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 2px;
  border-radius: 5px;
  background-color: #00DBDE;
}

@media (max-width: 900px) {
  .menu__link {
    font-size: 17px;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 800px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span {
    width: 40%;
    left: 100%;
    transform: translateX(-100%);
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 800px) {
  .menu__link {
    font-size: 34px;
  }
  .menu__list {
    flex-direction: column;
    overflow: scroll;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    height: 100%;
    padding: 40px;
    padding-top: 100px;
    position: fixed;
    top: 0;
    transition: 0.7s;
    left: 0;
    transform: translateX(-100%);
  }
  .menu-open .menu__list {
    transform: translateX(0);
  }
}
._header-scroll {
  position: fixed;
  background-color: #000;
  width: 100%;
  top: -300px;
  transition: 0.7s;
}

._header-show {
  transform: translateY(0);
  top: 0;
}

@media (max-width: 800px) {
  .menu__list {
    width: 100%;
  }
  .header {
    padding: 15px 0;
  }
}
.footer__container {
  position: relative;
}
.footer__container::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-image: url(../img/footer/global.svg);
  top: 50%;
  transform: translateY(-50%);
  animation: planet 4s infinite alternate-reverse;
}
.footer__item {
  text-align: center;
  max-width: 240px;
  display: block;
  margin: 0px auto;
  color: #fff;
  padding: 35px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  border: solid 1px #fff;
  border-top: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.footer__item:last-child {
  border-bottom: none;
}

@keyframes planet {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotate(320deg);
  }
}
.ecosistem {
  min-width: 100vh;
  min-height: 100%;
  background-image: url(../img//ecosistem.jpg);
  background-size: cover;
  margin-top: -110px;
  position: relative;
}
.ecosistem__container {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}
.ecosistem__desc {
  max-width: 753px;
  color: #fff;
  position: relative;
  padding-left: 58px;
  transition: 2s;
  left: 0;
}
.ecosistem__desc::before {
  content: "";
  border-radius: 5px;
  left: 0;
  width: 8px;
  height: 100%;
  position: absolute;
  box-shadow: 0px 0px 17px 0px rgba(191, 58, 255, 0.4);
  background-color: #7F5CFF;
}
.ecosistem__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}
.ecosistem__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
  font-family: HeliosC;
}
.ecosistem__title svg {
  max-width: 46px;
  max-height: 46px;
  animation: ease-in-out star 4s infinite alternate-reverse;
}
.ecosistem__btn {
  margin-top: 65px;
}

@keyframes star {
  0% {
    width: 10px;
  }
  100% {
    width: 40px;
    transform: rotateY(180deg);
  }
}
.about-us__slide {
  padding: 20px;
}

.about-us {
  width: 100%;
  height: 100vh;
  background-image: url(../img/about-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  z-index: 2;
}
.swiper-slide {
  max-width: 612px;
  padding: 100px 0;
  color: #fff;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}
.swiper-slide::before {
  content: "";
  border-radius: 5px;
  left: 2px;
  width: 6px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.4392156863);
  background-color: #56FFEB;
}
.swiper-slide::after {
  content: "";
  border-radius: 5px;
  left: 0;
  width: 100px;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background-image: url(../img/colum-bg.png);
}
.swiper-slide__subtitle {
  margin-bottom: 16px;
}
.swiper-slide__title {
  margin-bottom: 27px;
}
.swiper-slide__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.roatmap {
  padding: 120px 0;
  background-color: #090812;
  position: relative;
}
.roatmap::after {
  content: "";
  z-index: 1;
  background-image: url(../img/afterRoad.png);
  position: absolute;
  background-size: cover;
  top: 3%;
  right: 110%;
  transform: translateX(100%) rotate(90deg);
  width: 1000px;
  height: 800px;
}
.roatmap::before {
  content: "";
  z-index: 1;
  background-image: url(../img/beforeRoad.png);
  position: absolute;
  background-size: contain;
  bottom: 20%;
  right: 0;
  background-repeat: no-repeat;
  width: 770px;
  height: 1000px;
}
.roatmap__container {
  color: #fff;
}
.roatmap__subtitle {
  margin-bottom: 19px;
  text-align: center;
}
.roatmap__title {
  margin-bottom: 90px;
  text-align: center;
}
.roatmap__colums {
  display: flex;
  flex-direction: column;
  row-gap: 231px;
}
.roatmap__colum {
  position: relative;
}
.roatmap__colum::before {
  content: "";
  background-image: url(../img/road.svg);
  position: absolute;
  width: 500px;
  height: 380px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(70%) translateY(-50%);
}
.roatmap__colum:nth-child(2), .roatmap__colum:nth-child(4) {
  margin-left: auto;
}
.roatmap__colum:nth-child(2)::before, .roatmap__colum:nth-child(4)::before {
  content: "";
  background-image: url(../img/road/3.png);
  transform: translateX(-70%) translateY(-50%);
}
.roatmap__colum:nth-child(1)::before {
  content: "";
  background-image: url(../img/road/1.png);
}
.roatmap__colum:nth-child(2)::before {
  content: "";
  background-image: url(../img/road/2.png);
}
.roatmap__colum:nth-child(3)::before {
  content: "";
  background-image: url(../img/road/3.png);
}
.roatmap__colum:nth-child(4)::before {
  content: "";
  background-image: url(../img/road/4.png);
}

.roatmap-colum {
  max-width: 418px;
}
.roatmap-colum__name {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.roatmap-colum__items {
  position: relative;
}
.roatmap-colum__items::before {
  content: "";
  left: 100%;
  background-repeat: no-repeat;
  position: absolute;
  background-size: contain;
  background-image: url(../img/road/line.png);
  width: 639px;
  top: 0;
  height: 1500px;
}
.roatmap-colum__item {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  opacity: 0.7;
  margin-top: 8px;
  position: relative;
  padding-left: 44px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.roatmap-colum__item::before {
  content: "";
  background-image: url(../img/road/icon-items.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  background-size: contain;
  left: 0;
}

.brands {
  padding: 112px 0;
  position: relative;
}
.brands::after {
  content: "";
  position: absolute;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/brands/bg-brands.png);
  z-index: 1;
}
.brands::before {
  content: "";
  z-index: 2;
  position: absolute;
  background-size: cover;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/brands/bg.png);
}
.brands__container {
  color: #fff;
  position: relative;
  z-index: 3;
}
.brands__subtitle {
  text-align: center;
  margin-bottom: 24px;
}
.brands__title {
  text-align: center;
  margin-bottom: 94px;
}
.brands__items {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 50px;
  position: relative;
}
.brands__items::before {
  content: "";
  background-image: url(../img/brands/bdout.png);
  width: 100%;
  height: 100%;
  top: -150px;
  left: -167px;
  z-index: 1;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.brands-item {
  max-width: 375px;
}
.brands-item__images {
  width: 301px;
  height: 401px;
  margin: 0px auto;
  margin-bottom: 67px;
  position: relative;
}
.brands-item__img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.brands-item__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  position: relative;
  padding-top: 55px;
  font-family: HeliosC;
}
.brands-item__name::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #F00AFE;
  box-shadow: 0 22px 44px 5px #f00afe;
  border-radius: 10px;
}
.brands-item__name_shadow::before {
  content: "";
  background-color: #0ac1fe;
  box-shadow: 0 22px 44px 5px #0ac1fe;
}
.brands-item__name_shadows::before {
  content: "";
  background-color: #0a5ffe;
  box-shadow: 0 22px 44px 5px #0a5ffe;
}
.brands-item__text {
  margin-top: 7px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  opacity: 0.7;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.resoucers {
  background-color: #090812;
  color: #fff;
  padding: 91px 0 120px;
}
.resoucers__subtitle {
  text-align: center;
  margin-bottom: 22px;
}
.resoucers__title {
  text-align: center;
  margin-bottom: 69px;
}
.resoucers__inner {
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 163px;
  row-gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}
.resoucers__inner::before {
  content: "";
  position: absolute;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url(../img/resources/inner.png);
}

.resoucers-item {
  max-width: 566px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 68px 0 28px;
  padding-left: 133px;
}
.resoucers-item::before {
  content: "";
  border-radius: 5px;
  left: 0;
  width: 6px;
  height: 100%;
  top: 0;
  position: absolute;
  box-shadow: 0px 4px 13px 0px rgba(191, 58, 255, 0.4392156863);
  background-color: #BF3AFF;
}
.resoucers-item::after {
  content: "";
  border-radius: 5px;
  left: 0;
  width: 100px;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  background-image: url(../img/colum-bg.png);
}
.resoucers-item__logo {
  margin-bottom: 40px;
}
.resoucers-item__name {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.1;
  text-align: left;
  margin-bottom: 27px;
}
.resoucers-item__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.resoucers-item__btn {
  margin-top: 69px;
}
.advantage {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  position: relative;
}
.advantage::before {
  content: "";
  background-image: url(../img/resources/1.png);
  width: 800px;
  height: 800px;
  top: -150px;
  position: absolute;
  left: -90px;
  z-index: 1;
  background-size: contain;
}
.advantage__item {
  position: relative;
  z-index: 2;
  max-width: 260px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  padding-left: 56px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.advantage__item::before {
  content: "";
  background-image: url(../img/resources/1crug.svg);
  width: 49px;
  height: 49px;
  background-size: contain;
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  top: 0;
}
.advantage__item:nth-child(2), .advantage__item:nth-child(3) {
  margin-left: 447px;
}
.advantage__item:nth-child(1) {
  margin-left: 47px;
}
.advantage__item:nth-child(2)::before {
  content: "";
  background-image: url(../img/resources/3crug.svg);
}
.advantage__item:nth-child(1)::before {
  content: "";
  background-image: url(../img/resources/4crug.svg);
}
.advantage__item:last-child {
  padding-top: 50px;
  padding-left: 0;
}
.advantage__item:last-child::before {
  content: "";
  background-image: url(../img/resources/2crup.svg);
}

.game {
  position: relative;
  background-color: black;
}
.game_shadow {
  background-image: url(../img/game/bg-shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.game::after {
  content: "";
  background-image: url(../img/game/bagraund.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.game::before {
  content: "";
  position: absolute;
  background-image: url(../img/game/game-mark.png);
  width: 100%;
  bottom: 100%;
  transform: translateY(60%);
  height: 930px;
  z-index: 3;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.game__container {
  position: relative;
  z-index: 2;
  display: flex;
  padding-top: 700px;
  padding-bottom: 135px;
  justify-content: space-between;
  row-gap: 50px;
}
.game__item {
  position: relative;
  z-index: 3;
}
.game__item:nth-child(3) {
  margin-right: 40px;
}
.game__item:nth-child(3)::before {
  content: "";
  background-image: url(../img/game/croug.png);
  width: 230px;
  height: 230px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(120px) translateX(60px);
}
.game__iamges {
  height: 562px;
}
.game__iamges_height {
  height: 642px;
}
.game__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.game-desc {
  padding: 68px 37px;
  margin-left: 40px;
  text-align: center;
  max-width: 644px;
  color: #fff;
  position: relative;
  z-index: 3;
  display: inline;
}
.game-desc::after {
  content: "";
  background-image: url(../img/game/bacg-line.png);
  position: absolute;
  width: 100%;
  height: 90%;
  top: -3px;
  left: 0;
  background-size: cover;
}
.game-desc::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.5px;
  opacity: 0.4;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
}
.game-desc__title {
  margin-bottom: 37px;
  z-index: 5;
  position: relative;
}
.game-desc__text {
  opacity: 0.7;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 45px;
  z-index: 5;
  font-family: "Plus Jakarta Sans", sans-serif;
  position: relative;
}
.game-desc__text span:nth-child(1) {
  display: inline-block;
  margin-bottom: 30px;
}
.explore-virtual {
  color: #fff;
  padding: 235px 0 104px;
  background-color: #090814;
  display: flex;
  flex-direction: column;
  row-gap: 123px;
  position: relative;
}
.explore-virtual::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-image: url(../img/explore/virtual.png);
  height: 611px;
  width: 1146px;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
}

.explore__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.explore__container::before {
  content: "";
  position: absolute;
  background-size: contain;
  background-image: url(../img/explore/shadow.png);
  background-repeat: no-repeat;
  width: 1400px;
  height: 1400px;
}
.explore__items {
  background-image: url(../img/explore/itemsshadow.png);
  background-size: cover;
  display: flex;
  align-items: center;
  column-gap: 40px;
  position: relative;
}
.explore__items_margin {
  width: 1168px;
  background-image: none;
  margin-left: auto;
  justify-content: space-between;
}
.explore__items_margin::after {
  content: "";
  background-image: url(../img/explore/itemsshadow.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.4;
}
.explore__items::before {
  content: "";
  background-image: url(../img/explore/star.svg);
  width: 46px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  bottom: 0;
  z-index: 2;
  animation: ease-in-out star 4s infinite alternate-reverse;
}
.explore__column {
  position: relative;
  padding: 98px 0;
  padding-left: 78px;
  z-index: 2;
}
.explore__column::before {
  content: "";
  border-radius: 5px;
  left: 0px;
  top: 0;
  width: 5px;
  height: 100%;
  position: absolute;
  box-shadow: 0px 4px 13px 0px rgba(177, 86, 220, 0.4392156863);
  background-color: #7F5CFF;
}
.explore__column::after {
  content: "";
  background-image: url(../img/explore/line.png);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0;
}
.explore__column_before {
  padding: 0;
  padding-left: 172px;
}
.explore__column_before::before {
  content: " ";
  background: none;
  box-shadow: 0 0 0;
}
.explore__column_before::after {
  content: " ";
  background: none;
}
.explore__title {
  margin-bottom: 28px;
}
.explore__text {
  z-index: 2;
  max-width: 397px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}
.explore__text_before {
  max-width: 470px;
  display: block;
  position: relative;
  padding: 98px 0;
  padding-right: 89px;
}
.explore__text_before::before {
  content: "";
  border-radius: 5px;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  position: absolute;
  box-shadow: 0px 4px 13px 0px rgba(177, 86, 220, 0.4392156863);
  background-color: #7F5CFF;
}
.explore__text_before::after {
  content: "";
  background-image: url(../img/explore/line.png);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  right: 0;
  padding: 0;
}
.explore__btn {
  margin-top: 38px;
}
.explore__img {
  height: 796px;
  max-width: 570px;
}
.explore__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.virtual__container {
  overflow: hidden;
}

.team {
  background-image: url(../img/team/team-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  padding: 148px 0;
}
.team__subtitle {
  text-align: center;
  margin-bottom: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 45px;
  font-weight: 700;
}
.team__title {
  text-align: center;
  margin-bottom: 39px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 400;
}
.team__items {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  flex-wrap: wrap;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}
.team-item:nth-child(3) {
  margin-top: 110px;
}
.team-item__images {
  height: 448px;
  max-width: 299px;
}
.team-item__images img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.team-item__text {
  max-width: 219px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}
.team-item__name {
  max-width: 219px;
  font-family: HeliosExtC;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
  color: #BF3AFF;
  text-align: center;
}

.faq {
  background-image: url(../img/faq/bgfaq.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.faq__inner {
  position: relative;
  z-index: 3;
  color: #fff;
  max-width: 1370px;
  padding: 90px;
  margin: 0px auto;
  background-image: url(../img/faq/border.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.faq__subtitle {
  text-align: center;
  margin-bottom: 17px;
}
.faq__title {
  text-align: center;
  margin-bottom: 45px;
}
.spollers__title {
  font-family: HeliosC;
  margin-top: 42px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  padding-bottom: 50px;
  display: block;
  width: 100%;
  border-bottom: rgba(255, 255, 255, 0.5019607843) solid 1px;
  text-align: left;
  position: relative;
}
.spollers__title::before {
  content: "";
  right: 0;
  top: 50%;
  transition: 0.7s;
  transform: translateY(-50%) translateX(100%);
  background-image: url(../img/faq/pluse.svg);
  width: 30px;
  height: 30px;
  position: absolute;
}
.spollers__body {
  font-family: Plus Jakarta Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  opacity: 0.7;
  margin-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

._spoller-active::before {
  content: "";
  transform: translateX(100%) rotate(180deg);
}

.social {
  padding: 143px 0 112px;
  background-image: url(../img/socials/socials-bg.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: right;
}
.social__subtitle {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
}
.social__title {
  color: #fff;
  text-align: center;
  margin-bottom: 90px;
}
.social__items {
  display: flex;
  column-gap: 40px;
  row-gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social__link {
  margin: 0px auto;
}
.social__link:hover {
  box-shadow: 0 0 8px 3px rgb(188, 4, 105);
}
.social__link:nth-child(4) {
  position: relative;
}
.social__link:nth-child(4)::before {
  content: "";
  background-image: url(../img/explore/star.svg);
  width: 46px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 20%;
  top: 0;
  z-index: 2;
  animation: ease-in-out star 4s infinite alternate-reverse;
}
.team-item__name_blue {
  color: #2C4DFF;
}

.team-item__name_violet {
  color: #BF3AFF;
}

.team-item__name_rozovi {
  color: #FB41FF;
}

@media (max-width: 1400px) {
  .explore__container {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
  }
  .explore-virtual {
    padding: 100px 0;
  }
  .game__container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 1250px) {
  .explore__items_margin {
    max-width: 1170px;
    width: 100%;
  }
  .explore__column_before {
    padding-left: 10px;
  }
}
@media (max-width: 1000px) {
  .roatmap {
    padding: 100px 0;
  }
  .explore__column_before {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .explore__items_margin {
    flex-wrap: wrap;
    padding: 20px 0;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .explore__items {
    flex-wrap: wrap;
  }
  .explore__text_width {
    margin: 10px;
    max-width: 100%;
  }
}
@media (max-width: 900px) {
  .game-desc {
    margin-left: 0px;
  }
  .game__container {
    padding-top: 558px;
    padding-bottom: 160px;
  }
  .explore-virtual::before {
    width: 400px;
    height: 225px;
    left: 50%;
    transform: translateX(-50%);
  }
  .spollers__title {
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 25px;
  }
  .spollers__body {
    font-size: 17px;
  }
  .roatmap::after {
    right: 154%;
  }
}
@media (max-width: 720px) {
  .game-desc::after {
    width: 100%;
    height: 100%;
  }
  .game-desc__text {
    font-size: 15px;
  }
  .game-desc {
    padding: 38px 20px;
  }
  .ecosistem__title {
    font-size: 28px;
    max-width: 500px;
  }
  .ecosistem__desc {
    max-width: 500px;
    padding-left: 29px;
  }
  .ecosistem__desc::before {
    content: "";
    width: 4px;
  }
  .ecosistem__btn {
    margin-top: 40px;
  }
  .roatmap__colum:nth-child(2), .roatmap__colum:nth-child(4) {
    margin-left: 0;
  }
  .roatmap__colum:nth-child(2)::before, .roatmap__colum:nth-child(4)::before {
    transform: translateX(-9%) translateY(-53%);
  }
  .roatmap::after, .roatmap::before {
    background-size: contain;
    top: 0;
    left: 0;
    transform: 0;
    width: 100%;
    height: 100%;
  }
  .roatmap::after {
    top: -39%;
    left: -16%;
  }
  .roatmap {
    padding: 60px 0;
  }
  .roatmap__colum::before {
    transform: translateX(-9%) translateY(-53%);
  }
  .resoucers-item {
    max-width: 490px;
    padding-left: 30px;
    padding-top: 30px;
  }
  .resoucers-item__name {
    font-size: 28px;
  }
  .advantage::before {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .advantage__item:last-child {
    padding-top: 0;
    padding-left: 54px;
  }
  .resoucers {
    padding: 60px 0;
  }
  .resoucers__title {
    margin-bottom: 40px;
  }
  .resoucers-item__btn {
    margin-top: 40px;
  }
  .advantage__item:nth-child(2), .advantage__item:nth-child(1), .advantage__item:nth-child(3) {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .ecosistem__desc {
    padding-left: 15px;
    max-width: 280px;
  }
  .ecosistem__desc::before {
    content: "";
    width: 3px;
  }
  .ecosistem__subtitle {
    font-size: 16px;
  }
  .ecosistem__title {
    font-size: 18px;
  }
  .ecosistem__title svg {
    display: block;
  }
  .ecosistem__btn {
    margin-top: 25px;
  }
  .roatmap__colums {
    row-gap: 100px;
  }
  .roatmap::after {
    top: -46%;
  }
  .roatmap-colum__name {
    font-size: 17px;
  }
  .brands {
    padding: 40px 0;
  }
  .brands-item__text {
    font-size: 14px;
  }
  .game-desc::after {
    height: 130%;
  }
  .game-desc__text span:nth-child(1) {
    margin-bottom: 20px;
  }
  .game-desc {
    padding: 20px 10px;
  }
  .game__container {
    padding-top: 442px;
  }
  .game__img {
    object-fit: cover;
  }
  .game-desc__text {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .explore-virtual {
    row-gap: 40px;
  }
  .explore__img {
    height: 400px;
  }
  .explore__text {
    font-size: 17px;
  }
  .team {
    padding: 50px;
  }
  .team-item:nth-child(2) .team-item__text {
    order: 1;
  }
  .team-item:nth-child(2) .team-item__name {
    order: 2;
  }
  .team-item:nth-child(3) {
    margin-top: 0;
  }
  .team-item:nth-child(4) .team-item__text {
    order: 1;
  }
  .team-item:nth-child(4) .team-item__name {
    order: 2;
  }
  .team-item__images {
    height: 318px;
  }
  .faq__inner {
    padding: 15px;
  }
  .spollers__title::before {
    content: "";
    width: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(0);
  }
  ._spoller-active::before {
    content: "";
    transform: translateX(0) rotate(90deg);
  }
  .faq__title {
    margin-bottom: 30px;
  }
  .spollers__body {
    font-size: 14px;
  }
  .social {
    padding: 90px 0 80px;
  }
  .social__title {
    margin-bottom: 45px;
  }
}
@media (max-width: 450px) {
  .resoucers {
    padding: 50px 0;
  }
  .resoucers-item__text {
    font-size: 15px;
  }
}
.roatmap__colums {
  left: 100%;
  transition: 2s;
  position: relative;
}

.roatmap__colum-active {
  left: 0%;
}

.ecosistem {
  margin-top: -119px;
}

@media (max-width: 800px) {
  .ecosistem__title {
    font-size: 40px;
  }
  .ecosistem {
    margin-top: -46px;
  }
}
.arrow {
  position: fixed;
  width: 25px;
  height: 25px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(160, 5, 142);
  z-index: 6;
  bottom: 40px;
  right: 0px;
  opacity: 0;
  border: 1px solid rgb(3, 94, 252);
  cursor: pointer;
  transition: 0.7s;
  transform: translateX(-100%);
}
.arrow__link polygon {
  fill: #fff;
}
.arrow__link svg {
  position: relative;
  width: 25px;
  height: 25px;
  object-fit: contain;
  stroke: #fff;
}
.arrow:hover {
  box-shadow: 0 0 10px #f00afe;
}

.arrow-active {
  opacity: 1;
  right: 40px;
  transform: translateX(0);
}

.button {
  font-family: HeliosC;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.4;
  display: inline-block;
  background: linear-gradient(98.73deg, #7A42F4 0%, #4642F4 100%);
  color: #FFFFFF;
  border-radius: 6px;
  max-width: 280px;
  padding: 17px 49px;
  position: relative;
  z-index: 4;
  border: 2px solid rgba(70, 66, 244, 0);
  transition: 0.7s;
  cursor: pointer;
}
.button::before, .button::after {
  content: "";
  background-color: #ffffff;
  width: 0px;
  height: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: 0.7s;
}
.button::after {
  content: "";
  left: 100%;
  transform: translateX(-100%) translateY(-50%);
}
.button:hover {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  background: linear-gradient(45deg, #ea6e48 0, #bc1a63 100%);
  box-shadow: 0 0 10px #f80369;
}
.button:hover::before, .button:hover::after {
  width: 4px;
}

.title {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  font-family: HeliosC;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}
/**
 * Swiper 7.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 27, 2021
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next + .swiper-slide,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.sabout-us__slide {
  height: 1000px;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  max-width: 650px;
}

.swiper-pagination-bullet {
  background: none;
  position: relative;
  top: -20px;
}
.swiper-pagination-bullet:nth-child(1) {
  right: 40%;
  transform: translateX(100%);
}
.swiper-pagination-bullet:nth-child(2) {
  left: 40%;
  transform: translateX(100%);
}
.swiper-pagination-bullet span {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  top: 24px;
  transform: translateX(-50%);
}

.swiper-pagination-bullet-active {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  border: 5px solid #7F5CFF;
}
.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  background: none;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  top: -11px;
  left: -11px;
  border: 2px solid #7F5CFF;
}

.about-us__slider {
  margin-left: -400px;
}

@media (max-width: 1100px) {
  .about-us__slider {
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .swiper-autoheight, .swiper-autoheight .swiper-slide {
    max-width: 490px;
  }
  .swiper-slide__text {
    font-size: 16px;
  }
  .swiper-slide {
    padding: 80px 0;
    padding-left: 25px;
  }
}
@media (max-width: 530px) {
  .swiper-autoheight, .swiper-autoheight .swiper-slide {
    max-width: 290px;
  }
  .swiper-slide__text {
    font-size: 14px;
  }
  .swiper-slide {
    padding-top: 40px;
    padding-left: 15px;
  }
  .swiper-autoheight, .swiper-autoheight .swiper-slide {
    top: -30px;
  }
  .swiper-pagination-bullet:nth-child(2) {
    left: 35%;
  }
  .subtitle {
    font-size: 17px;
  }
  .title {
    font-size: 35px;
  }
  .swiper-slide::before {
    left: 2px;
    height: 100%;
    width: 3px;
    top: 0;
    transform: translate(0);
  }
}
